<!-- schedule.html -->
{% extends 'ligapwr/base.html' %}

{% block content %}
  <div class="matches-container">
    {% for day, meczeForDay in mecze.items %}
      <table class="matches-table">
        <tbody class="date-section">
          <tr class="date-header">
            <td colspan="5">{{ day|date:'Y-m-d' }}</td>
          </tr>
          {% for mecz in meczeForDay %}
            <tr class="match-row">
              {% if not request.GET.sport %}
                <td class="emoji">{{ mecz.team_two.sport.emoji }}</td>
              {% endif %}
              <td class="match-time">{{ mecz.start_time|date:'H:i' }}</td>
              <td class="team team-one"><a href="{% url 'team' mecz.team_one.id %}">{{ mecz.team_one }}</a>  ({{ mecz.team_one.department }})</td>
              <td class="team score">{{ mecz.score_team_one }} - {{ mecz.score_team_two }}</td>
              <td class="team team-two"><a href="{% url 'team' mecz.team_two.id %}">{{ mecz.team_two }}</a>  ({{ mecz.team_two.department }})</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
{% endblock %}
